.passenger-container {

  display: flex;

  gap: 40px;

  padding: 30px;

}


.passenger-left {

  flex: 2;

}


.passenger-right {

  flex: 1;

}


.passenger-card {

  border: 1px solid #ddd;

  padding: 20px;

  margin-bottom: 15px;

  border-radius: 10px;

  background: white;

}


.passenger-card input,
.passenger-card select {

  width: 100%;

  padding: 10px;

  margin-top: 10px;

  border-radius: 6px;

  border: 1px solid #ccc;

}


.seat-title {

  font-weight: bold;

  margin-bottom: 10px;

}


.fare-card {

  border: 1px solid #ddd;

  padding: 20px;

  border-radius: 10px;

  background: white;

  position: sticky;

  top: 20px;

}


.booking-btn {

  width: 100%;

  padding: 12px;

  margin-top: 20px;

  background: #1976D2;

  color: white;

  border: none;

  border-radius: 6px;

  cursor: pointer;

}
