.payment-container {

  display: flex;

  gap: 40px;

  padding: 30px;

}


.payment-left {

  flex: 2;

}


.payment-right {

  flex: 1;

}


.payment-header {

  display: flex;

  justify-content: space-between;

  margin-bottom: 20px;

}


.timer {

  color: red;

  font-weight: bold;

}


.payment-card {

  background: white;

  padding: 20px;

  border-radius: 10px;

  margin-bottom: 20px;

  border: 1px solid #ddd;

}


.payment-option {

  display: flex;

  gap: 10px;

  margin-top: 10px;

  cursor: pointer;

}


.qr-container {

  margin-top: 15px;

  text-align: center;

}


.upi-input {

  margin-top: 10px;

  padding: 10px;

  width: 100%;

}


.pay-button {

  width: 100%;

  padding: 15px;

  background: #d32f2f;

  color: white;

  border: none;

  border-radius: 8px;

  font-size: 18px;

  cursor: pointer;

}


.fare-card {

  background: white;

  padding: 20px;

  border-radius: 10px;

  border: 1px solid #ddd;

}


.total {

  font-size: 22px;

  font-weight: bold;

  margin-top: 10px;

}
